*, ::before, ::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ivory;
}

nav {
  width: 100%;
  background-color: navy;
  margin-bottom: 1rem;
}

#searchInput {
  width: 30vw;
  text-align: left;
}

#searchInput::placeholder {
  color: ivory;
  padding: 0.25rem;
}

.cards {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
  gap: 1rem;
}

.container .info {
  border-radius: 1rem;
  width: 50%;
  padding: 1rem;
}
